{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">

    .card-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
    }
</style>
  
<div class="container-fluid">
    <div class="row justify-content-center bg-secondary p-4">
        <div class="d-flex flex-column pb-5">
            <img class="img-fluid mx-auto d-block" src="{% static 'home/dk.jpg' %}" alt="python logo" width="300" height="300">
        </div>
        <div class="d-flex flex-column my-4">
            <h4 class="m-auto text-align-center p-4" style="color:#000000;"><strong>Dillip Singh</strong></h4>
            <p class="m-auto">I am an energetic, ambitious person who has developed a mature and responsible approach to any task that I undertake or situation that I am presented with. I have completed graduuation from Kurukshetra University, Kurukshatra, India. As regard my skill i am a full stack developer focused on Python, Django(ORM), Mysql, PostgreSql, Javascript, Html, CSS, Bootstrap. 
            My objective is seeking a challenging position in Website development department which will further utilize my skills for achieving the targets and developing the best performance for the organization. To succeed in an environment of growth and excellence and earn a job Which provides me job satisfaction and self development and help me achieve personal as well as organizational goals</p>
            <h4 class="m-auto"><strong>Contact me : </strong></h4>
            <p class="m-auto"><strong>Parmanent Address : </strong>Dhanushadham Na. Pa. - 6, Haripur, District : Dhanusha, Province : 2, Nepal</p>
            <p class="m-auto"><strong>Email : </strong>dk381759@gmail.com</p>
            <p class="m-auto"><strong>Contact Number : </strong>+9779813966699</p>
            
            <div class="footer-icons m-auto p-4">
                <a href="https://github.com/dillipsingh99"><i class="fa fa-github p-2"></i></a>
                <a href="https://www.linkedin.com/in/dillip-singh-240b21190/"><i class="fa fa-linkedin p-2"></i></a>
                <a href="https://dashboard.heroku.com/apps"><i class="fa fa-instagram p-2"></i></a>
                <a href="https://github.com/dillipsingh99"><i class="fa fa-twitter p-2"></i></a>
                <a href="https://internshala.com/student/resume?detail_source=resume_direct"><i class="fa fa-youtube p-2"></i></a>
            </div>
      </div>

    </div>

</div>




{% endblock content %}